<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myTicketLabel">Create or edit a Ticket</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!ticket.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="ticket.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_reason">Reason</label>
            <input type="text" class="form-control" name="reason" id="field_reason"
                [(ngModel)]="ticket.reason" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_comment">Comment</label>
            <input type="text" class="form-control" name="comment" id="field_comment"
                [(ngModel)]="ticket.comment" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_creationdate">Creationdate</label>
            <div class="input-group">
                <input id="field_creationdate" type="text" class="form-control" name="creationdate" ngbDatepicker  #creationdateDp="ngbDatepicker" [(ngModel)]="ticket.creationdate"
                />
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="creationdateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_requestStatus">Request Status</label>
            <input type="text" class="form-control" name="requestStatus" id="field_requestStatus"
                [(ngModel)]="ticket.requestStatus" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_ticket">Ticket</label>
            <input type="number" class="form-control" name="ticket" id="field_ticket"
                [(ngModel)]="ticket.ticket" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_assignedTo">Assigned To</label>
            <input type="text" class="form-control" name="assignedTo" id="field_assignedTo"
                [(ngModel)]="ticket.assignedTo" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_acceptanceDate">Acceptance Date</label>
            <div class="input-group">
                <input id="field_acceptanceDate" type="text" class="form-control" name="acceptanceDate" ngbDatepicker  #acceptanceDateDp="ngbDatepicker" [(ngModel)]="ticket.acceptanceDate"
                />
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="acceptanceDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                [(ngModel)]="ticket.description" />
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_request">Request</label>
            <select class="form-control" id="field_request" name="request" [(ngModel)]="ticket.request">
                <option [ngValue]="null"></option>
                <option [ngValue]="requestOption.id === ticket.request?.id ? ticket.request : requestOption" *ngFor="let requestOption of requests; trackBy: trackRequestById">{{requestOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_ticketStatus">Ticket Status</label>
            <select class="form-control" id="field_ticketStatus" name="ticketStatus" [(ngModel)]="ticket.ticketStatus">
                <option [ngValue]="null"></option>
                <option [ngValue]="ticketStatusOption.id === ticket.ticketStatus?.id ? ticket.ticketStatus : ticketStatusOption" *ngFor="let ticketStatusOption of ticketstatuses; trackBy: trackTicketStatusById">{{ticketStatusOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_employeeRequest">Employee Request</label>
            <select class="form-control" id="field_employeeRequest" name="employeeRequest" [(ngModel)]="ticket.employeeRequest" >
                <option [ngValue]="null"></option>
                <option [ngValue]="employeeOption.id === ticket.employeeRequest?.id ? ticket.employeeRequest : employeeOption" *ngFor="let employeeOption of employees; trackBy: trackEmployeeById">{{employeeOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
