<div>
    <h2>
        <span>It Users</span>
        <button class="btn btn-primary float-right jh-create-entity create-it-user" [routerLink]="['/', { outlets: { popup: ['it-user-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new It User
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="itUsers">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>It Positon</span></th>
            <th><span>It User</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let itUser of itUsers ;trackBy: trackId">
                <td><a [routerLink]="['../it-user', itUser.id ]">{{itUser.id}}</a></td>
                <td>{{itUser.itPositon}}</td>
                <td>
                    <div *ngIf="itUser.itUser">
                        <a [routerLink]="['../employee', itUser.itUser?.id ]" >{{itUser.itUser?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../it-user', itUser.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'it-user/'+ itUser.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'it-user/'+ itUser.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
